#head{

    background-color:#2d061b;
}
// .accordion-item{
//     background: transparent !important;
// }
// .accordion-item .accordion-button{
//     margin-bottom: 20px;
//     background-color: pink;
//     // background: transparent !important;
// }
// body{
//     background-color: aqua !important;
// }
#hero{
    background-image:url('../public/assets/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#form-control{
    background-color: #2d061b;
    color: white;
    border-color: red;
}
#basic-addon1{
    background-color: #c62828;
    color: white;
    border-color: red;
    border-radius: 0%;

}
#platform{
    background-image:url('../public/assets/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}
#exclusive{
    background-image:url('../public/assets/bg5.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;


}
#staking{
    background-color: #2d061b;
}
#benefit{
    background-image:url('../public/assets/bg5.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}
#presale{
    background-image:url('../public/assets/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;

}
#presale2{
    background-color: #2d061b9f;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#mission{

    background-image:url('../public/assets/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#version{
    
    background-image:url('../public/assets/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}
#rugpul{
    background-image:url('../public/assets/bg5.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}
#tooken{
    background-image:url('../public/assets/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}
#ba{
    background-image:url('../public/assets/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.accordion-item{
    margin-bottom: 2rem;
    background: none;
    color: #fff;
}
#foot{
    background-color: #2d061b;
    color: #fff;
    margin-top: 0%;
}
#cards{
    background-image:url('../public/assets/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  background-attachment: fixed;
}
.modal-content{
    background-color: black !important;
    color: #fff !important;
}
.accordion-item .accordion-button{
    background-color: black;
    color: #fff !important;

}
.accordion-button::after{
    scrollbar-arrow-color: #fff;
}
.accordion-body{
    background-color: black;
    color: white;
}

.accordion-item:first-of-type .accordion-button{
    background-color: black;

}

